html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}

img {
  display: block;
  height: auto;
}

ul,
ol {
  list-style: none;
}

li {
  background: white;
  list-style-type: circle;
  list-style-position: outside;
  padding: 0 10px;
  margin: 0;
}

a {
  text-decoration: none;
}
