html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}
